.slider {
  max-width: 65vw;
  margin: 0;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.stories-list {
  padding: 0;
  margin: 5;
  display: flex;
  justify-content: center;
}
.stories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-btn {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #028df7;
  color: white;
  margin-top: 13px;
}
.error-text {
  font-size: 16px;
  font-weight: 400;
}

/* loader-container */
/* .loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  height: 100%;
} */
.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  /* height: 100%; */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
.StoriesDiv {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostDiv {
  padding: 0;
  margin-bottom: 20px;
}
/* posts-failure */
.posts-failure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70vw;
  border: 2px solid #d4d3d2;
  margin-bottom: 20px;
  background-color: white;
}
